/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}

.MuiAccordionSummary-content.Mui-expanded.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content {
    margin: 0;
}

.MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded.MuiAccordionSummary-gutters.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {}

.cart-mobile {
    margin-bottom: 15px;
    padding: 8px 0;
    background: #f7f7f7;
}

.po-sticky {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
}

.ctn-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

svg.svg-icon {
    width: 2rem;
}

.icon-wah {
    margin: 1rem;
}

.icon-facebook {}

.showpuzzle-mobile {
    min-height: 10vh;
    position: relative;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 15px;
}

.name-color {
    width: 100%;
    word-break: break-word;
    text-align: center;
    font-size: 0.9em;
}

.cadr-one-color {
    width: 33%;
}

.line-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

p.title-add-peg {
    font-family: cursive;
    font-weight: 400;
    font-size: 1.1rem;
}

.ctn-add-peg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    padding: 0 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

img.peg {
  
-webkit-transform: translate(-50%, -50%);
  
    -ms-transform: translate(-50%, -50%);
  
        transform: translate(-50%, -50%);
  
position: absolute;
  
/* filter: drop-shadow(1px 1px 1px #626262 ); */
}

.ctn-add-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.btn-add-to-cart:focus {
    outline: 0;
}

p.price-all {
    margin: 0;
    color: #2e7d32;
    font-family: cursive;
}

p.ctn-price-sale {
    margin: 0;
}

span.price-none-sale {
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    font-weight: 400;
    color: #767676;
    font-family: cursive;
}

span.price-sale {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 0.5rem;
}

.ctn-animal-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

p.p-name-animal {position: absolute;text-transform: capitalize;font-weight: 500;bottom: -1.4vw;font-size: 1.1vw;margin: 0;}

.ctn-show-animal {
    position: relative;
    margin: 0.5rem;
}

img.item-animal-show {
    max-height: 110px;
    max-width: 110px;
    /* margin: 10px; */
    -webkit-filter: drop-shadow(1px 1px 1px #000 );
            filter: drop-shadow(1px 1px 1px #000 );
}

img.img-add-animal-top {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}

.ctn-add-animal-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 91%;
}

img.img-add-animal {
    max-width: 32px;
    max-height: 32px;
    margin: 0 4px;
    cursor: pointer;
}

img.img-show-animal {
    -webkit-filter: drop-shadow(1px 1px 1px #000 );
            filter: drop-shadow(1px 1px 1px #000 );
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: 800px;
    max-height: 80vh;
}


img.img-animal {
    max-width: 100%;
    max-height: 100%;
    /* padding: 1vw; */
    cursor: pointer;
    -webkit-filter: drop-shadow(0 0 1px );
            filter: drop-shadow(0 0 1px );
}

.one-animal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 15vw;
    padding: 2vw 2vw;
}

.add-animal {
    width: 35px !important;
    height: 35px !important;
    border: 1px solid #2e7d32;
    border-radius: 1000px;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
}

.ctn-one-line-input {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 91%;
}

.fa.fa-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

img.tff {
    width: 74%;
}

img.fa.fa-home {
    width: 50;
}
.btn-add{/*dent around button*/
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgba(3, 169, 244, 0.54);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    background: #f7f7f7;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}
.btn-add .fa {/*Button itself*/
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#d6d6d6));
    background-image: -o-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
  }
  
.btn-add .fa:active{
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #d8d8d8;
}


.flex-wearehere {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


p.title-img-gallery {
    font-weight: 500;
    font-family: monospace;
    font-size: 1.1rem;
}

.max-letter {
    margin: 0;
    color: #ff4721;
    font-style: italic;
}

.back-custom {
    background: #f7f7f7 !important;
}

p.input-text {
    position: relative;
    margin-bottom: 0;
    margin-right: 2px;
}

svg.trash-line {
   
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: #bcbcbc;
  
}

svg.trash-line:hover {
    fill: #4e4e4e;
}

.icon-fill:hover::before {
    -webkit-box-shadow: inset 0 0 0 60px #16a085;
            box-shadow: inset 0 0 0 60px #16a085;
}



.icon-fill::before {
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-box-shadow: inset 0 0 0 1px #16a085;
            box-shadow: inset 0 0 0 1px #16a085;
}

.icon::before, .icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-radius: 30px;
}

.icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    overflow: hidden;
}

.icon-fill::before {
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-box-shadow: inset 0 0 0 1px #16a085;
            box-shadow: inset 0 0 0 1px #16a085;
};


.icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    overflow: hidden;
}

.showpuzzle {
    min-height: 72vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f7f7f7;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

img.img-gallery {
    max-width: 80%;
    cursor: pointer;
    max-height: 16vh;
}

svg.active-color {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    fill: #fff;
}

.ctn-avtivecolor {
    position: relative;
    padding: 0 3%;
}

.all-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100% !important;
}

.one-hex {
    width: 16.666666% !important;
    height: 71px;
}

.one-color {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 9px !important;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #bbb;
    width: 100%;
}



.all-line {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1vw;
    background: url(https://res.cloudinary.com/hieudz/image/upload/v1642499459/puzzle-name/background-puzzle.jpg);
    border-radius: 2vw;
    background-size: cover;
    /* width: 100%; */
}

.one-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin: 0.3vw;
}

.oneline-hide {
    display: none;
}

svg#Layer_1 {
    overflow: visible;
    -webkit-filter: drop-shadow(1px 1px 1px #000 );
            filter: drop-shadow(1px 1px 1px #000 );
}

.onbe-letter {
margin: 0.3vw;
position: relative;
}

.input {
    position: relative;
    /* font-size: 1em; */
    background: -o-linear-gradient( 69deg, #10abff, #1beabd);
    background: linear-gradient( 21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 54px;
    width: 100%;
    /* margin: 0.1rem; */
}

.input *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    /* padding: 0 14PX; */
    text-align: center;
    z-index: 1;
    width: 100%;
    /* FONT-SIZE: 1REM; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: monospace;
    color: #282828;
}

.btn-addline:focus {
    outline: none !important;
    outline: none !important;
}






.clickstart{
    position: relative;
    display: inline-block;
    /* top: 50%; */
    /* left: 50%; */
    text-decoration: none;
    /* transform: translate(-50%, -50%); */
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    padding: 34px;
    background: #5856ff;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    font-size: 1.8rem;
}

.clickstart:nth-child(1){
    -webkit-filter: hue-rotate(270deg);
            filter: hue-rotate(270deg);
}

.clickstart span{
    position: absolute;
    display: block;
}
.clickstart span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear,left top, right top,from(transparent),to(#03e9f4));
    background: -o-linear-gradient(left,transparent,#03e9f4);
    background: linear-gradient(90deg,transparent,#03e9f4);
    -webkit-animation: animate1 1s linear infinite;
            animation: animate1 1s linear infinite;
}
@-webkit-keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.clickstart span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear,left top, left bottom,from(transparent),to(#03e9f4));
    background: -o-linear-gradient(top,transparent,#03e9f4);
    background: linear-gradient(180deg,transparent,#03e9f4);
    -webkit-animation: animate2 1s linear infinite;
            animation: animate2 1s linear infinite;
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
}
@-webkit-keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.clickstart span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear,right top, left top,from(transparent),to(#03e9f4));
    background: -o-linear-gradient(right,transparent,#03e9f4);
    background: linear-gradient(270deg,transparent,#03e9f4);
    -webkit-animation: animate3 1s linear infinite;
            animation: animate3 1s linear infinite;
    -webkit-animation-delay: 0.50s;
            animation-delay: 0.50s;
}
@-webkit-keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.clickstart span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear,left bottom, left top,from(transparent),to(#03e9f4));
    background: -o-linear-gradient(bottom,transparent,#03e9f4);
    background: linear-gradient(360deg,transparent,#03e9f4);
    -webkit-animation: animate4 1s linear infinite;
            animation: animate4 1s linear infinite;
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
}
@-webkit-keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #009ec9;
  }
  
  input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
            box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }