* {
    margin: 0;
    padding: 0;
}

.input {
    position: relative;
    font-size: 1.2em;
    background: linear-gradient( 21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 54px;
    width: 100%;
}

.input *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 3PX 11PX;
    z-index: 1;
    width: 100%;
    FONT-SIZE: 1.2REM;
}

.btn-addline:focus {
    outline: none !important;
    outline: none !important;
}